name: Tests

on: [ push, pull_request ]
# Ensures that only the latest commit is running for each PR at a time.
# Ignores this rule for push events.
concurrency:
  group: ${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true
jobs:
  unit-test:
    name: ${{ matrix.os }}, node ${{ matrix.node }} , python ${{ matrix.python }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu, windows, macOS ]
        node: [ 14, 16, 16.9 ]
        include:
          - node: "14"
            python: "3.8"
          - node: "16"
            python: "3.9"
          - node: "16.9"
            python: "3.x"

    steps:
      - uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.x

      - name: Setup Python3
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Setup Pipenv
        run: pip3 install pipenv

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          check-latest: true
          
      - name: Setup Maven v3.8.6 for Windows
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: 3.8.6
        if: runner.os == 'Windows'

      - name: Go Cache
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: Lint
        run: go vet ./...

      - name: Tests
        run: go test -v -race -timeout 0 -cover ./...
